/**
 * @file
 * alice.admin.css
 */

table tbody td.checkbox {
  text-align: left;
}
table tbody td.checkbox label {
  margin-left: 5px;
}
table tbody td.module {
  font-weight: bold;
  text-transform: capitalize;
}
